DB_USER=retailpulse
DB_PASSWORD=retailpulse_pass
DB_HOST=localhost
DB_PORT=5432
DB_NAME=retailpulse
DB_CHUNK_SIZE=1000
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10

AWS_ACCESS_KEY_ID="Your AWS Access Key ID"
AWS_SECRET_ACCESS_KEY="Your AWS Secret Access Key"
AWS_REGION=eu-west-1
S3_BUCKET=retailpulse-raw-data
S3_KEY=OnlineRetail.csv